<section>
<div class="jumbotron">
  <h1>Jobify</h1>
  <p>A job-tracking tool</p>
</div>

<div class="home-content center-block">

  <form>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="user.username" placeholder="Username" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" ng-model="user.password" placeholder="Password" />
    </div>
    <!-- <button type="submit" class="btn btn&#45;default">Submit</button> -->
    <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
    <br />
    <a class="btn-link pull-right" href="#register">Register</a>
  </form>

</div>
</section>
