<section>
  <h4 class="pull-left" style="margin-top: 0px;" ng-hide="showSearchForm">Available Jobs</h4>
  <p ng-init="showSearchForm = false;" ng-click="showSearchForm = true;" class="pull-right" ng-hide="showSearchForm"><i class="mdi-content-filter-list vertical-middle"></i></p>
  <p ng-click="showSearchForm = false;" class="pull-right" ng-show="showSearchForm"><i class="mdi-content-clear" style="color: white; padding: 7px;" ></i></p>


  <div ng-show="showSearchForm">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Filter options </h3>
      </div>
      <div class="panel-body" style="padding-bottom: 0px;"  >
        <div class="btn-toolbar" style="display: flex; align-items: center;" >
          <h4 class="panel-title">Users</h4>
          <a class="btn btn-xs btn-raised" ng-repeat="dev in developerList | orderBy:'username'" ng-click="addSelectedDev(dev); updateJobList()" ng-class="{'btn-info': dev.required}" href>
            {{dev.username}}
          </a>
        </div>
      </div>
      <div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;" >
        <div class="btn-toolbar" style="display: flex; align-items: center;" >
          <h4 class="panel-title">Status</h4>
          <a class="btn btn-xs btn-raised" ng-click="statusNew = !statusNew; updateJobList()" ng-class="{'btn-info': statusNew}" href>New</a>
          <a class="btn btn-xs btn-raised" ng-click="statusApplied = !statusApplied; updateJobList()" ng-class="{'btn-info': statusApplied}" href>Applied</a>
          <a class="btn btn-xs btn-raised" ng-click="statusRejected = !statusRejected; updateJobList()" ng-class="{'btn-info': statusRejected}" href>Rejected</a>
          <a class="btn btn-xs btn-raised" ng-click="statusResolved = !statusResolved; updateJobList()" ng-class="{'btn-info': statusResolved}" href>Resolved</a>
        </div>
      </div>
      <div class="panel-body" style="padding-top: 0px;" >
        <input class="form-control" type="text" placeholder="Company name" ng-model="filterOption.company" ng-change="updateJobList()" ng-model-options="{debounce: 400}">
      </div>
    </div>
  </div>

  <table class="table">

    <thead>
      <th style="width: 32%;" ><a ng-click="order('job.company')"> Company <span class="sortorder" ng-show="predicate === 'job.company'" ng-class="{reverse:reverse}"/></a></th>
      <th style="width: 32%;" ><a ng-click="order('job.url')"> URL <span class="sortorder" ng-show="predicate === 'job.url'" ng-class="{reverse:reverse}"/></a></th>
      <th style="width: 16%;" ><a ng-click="order('job.creationDate')"> Date <span class="sortorder" ng-show="predicate === 'job.creationDate'" ng-class="{reverse:reverse}"/></a></th>
      <th style="width: 16%;" ><a ng-click="order('job.status')"> Status <span class="sortorder" ng-show="predicate === 'job.status'" ng-class="{reverse:reverse}"/></a></th>
      <th style="width: 4%;" ></th>
    </thead>
    <tbody class="table-striped">
    <tr ng-repeat="job in jobsList | orderBy:predicate:reverse">
      <td ng-bind="job.company"></td>
      <td><a href="http://{{job.url}}" target="_blank" ng-click="showJob(job._id)">{{job.url}}</td>
      <td>{{job.creationDate | date:'dd-MM-yy'}}</td>
      <td ng-bind="job.status"></td>
      <td>
        <i class="mdi-navigation-chevron-right" style="cursor: pointer;" ng-click="showJob(job._id)"></i>
      </td>
    </tr>
    </tbody>
  </table>
  <div style="position: fixed; bottom: 70px;">
    <div class="container">
      <button class="btn btn-fab btn-raised btn-material-red ripple-effect" style="float: right; margin-right: 15px;" ng-click="newJob()"><i class="mdi-content-add"></i></button>
    </div>
  </div>

  <div ng-show= "hasError" class="alert alert-danger alert-dismissible" style="margin-top: 35px; text-align: center;" role="alert">
    <strong>Error</strong> {{errorText}}
  </div>
  <div class="alert-info2" ng-show="showLoading && !hasError">
    <h5 class="loading">Please wait ...</h5>
  </div>
</section>
