<section>

  <div id="signup-form-div" class="center-block">

    <form ng-class="{'has-error': hasError}" novalidate>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Assigned developers</h3>
        </div>
        <div class="panel-body">
          <div class="btn-toolbar" >
            <a class="btn btn-sm btn-raised" ng-repeat="dev in developerList" ng-click="required{{index}} = !required{{index}}; addSelectedDev(dev.username, required{{index}});" ng-class="{'btn-info': required{{index}}}" href>
              {{dev.username}}
            </a>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <input type="text" name="companyname" class="form-control" ng-model="job.company" placeholder="Company Name" required />
        <span class="label label-success" ng-show="form.companyname.$invalid === false">OK</span>
        <span class="label label-warning" ng-show="form.companyname.$invalid === true">Not Valid</span>
      </div>
      <div class="form-group">
        <input type="text" name="jobposition" class="form-control" ng-model="job.position" placeholder="Job Position" required />
        <span class="label label-success" ng-show="form.jobposition.$invalid === false">OK</span>
        <span class="label label-warning" ng-show="form.jobposition.$invalid === true">Not Valid</span>
      </div>
      <div class="form-group">
        <input type="text" name="joburl" class="form-control" ng-show="getJob('new')" ng-model="job.url" placeholder="Site Url" required />
        <button class="btn btn-raised btn-xs btn-info" ng-show="getJob('new')" data-toggle="modal" data-target="#modal-scrapp">Scrapp page</button>
        <button class="btn btn-raised btn-xs btn-info" ng-show="getJob('old')" data-toggle="modal" data-target="#modal-url">Page link</button>
        <button class="btn btn-raised btn-xs btn-info" ng-show="getJob('old')" data-toggle="modal" data-target="#modal-letter">Cover Letter</button>
        <button class="btn btn-raised btn-xs btn-info" ng-show="getJob('old')" data-toggle="modal" data-target="#modal-method">Apply method</button>
        <span class="label label-success" ng-show="form.jobposition.$invalid === false && getJob('new')"  >OK</span>
        <span class="label label-warning" ng-show="form.jobposition.$invalid === true && getJob('new')" >Not Valid</span>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Skills <small>(Clicks: 1 Required in Green, 2 Desired in Blue)</small></h3>
        </div>
        <div class="panel-body">
          <div class="btn-toolbar">
            <a class="btn btn-sm btn-raised" ng-click="varAux = jsRequired; jsRequired = (!jsDesired && !jsRequired); jsDesired = (varAux && !jsDesired); addSelectedSkill('js', jsRequired, jsDesired);" 
              ng-class="{'btn-info': jsDesired, 'btn-primary': jsRequired}" href>JS</a>
            <a class="btn btn-sm btn-raised" ng-click="varAux = angularRequired; angularRequired = (!angularDesired && !angularRequired); angularDesired = (varAux && !angularDesired); addSelectedSkill('angular', angularRequired, angularDesired);" 
              ng-class="{'btn-info': angularDesired, 'btn-primary': angularRequired}" href>Angular</a>
            <a class="btn btn-sm btn-raised" ng-click="varAux = reactRequired; reactRequired = (!reactDesired && !reactRequired); reactDesired = (varAux && !reactDesired); addSelectedSkill('react', reactRequired, reactDesired);" 
              ng-class="{'btn-info': reactDesired, 'btn-primary': reactRequired}" href>React</a>
            <a class="btn btn-sm btn-raised" ng-click="varAux = nodeRequired; nodeRequired = (!nodeDesired && !nodeRequired); nodeDesired = (varAux && !nodeDesired); addSelectedSkill('node', nodeRequired, nodeDesired);" 
              ng-class="{'btn-info': nodeDesired, 'btn-primary': nodeRequired}" href>Node</a>
            <a class="btn btn-sm btn-raised" ng-click="varAux = meanRequired; meanRequired = (!meanDesired && !meanRequired); meanDesired = (varAux && !meanDesired); addSelectedSkill('mean', meanRequired, meanDesired);" 
              ng-class="{'btn-info': meanDesired, 'btn-primary': meanRequired}" href>Mean</a>
            <a class="btn btn-sm btn-raised" ng-click="varAux = pythonRequired; pythonRequired = (!pythonDesired && !pythonRequired); pythonDesired = (varAux && !pythonDesired); addSelectedSkill('python', pythonRequired, pythonDesired);" 
              ng-class="{'btn-info': pythonDesired, 'btn-primary': pythonRequired}" href>Python</a>
            <a class="btn btn-sm btn-raised" ng-click="varAux = djangoRequired; djangoRequired = (!djangoDesired && !djangoRequired); djangoDesired = (varAux && !djangoDesired); addSelectedSkill('django', djangoRequired, djangoDesired);" 
              ng-class="{'btn-info': djangoDesired, 'btn-primary': djangoRequired}" href>Django</a>
            <a class="btn btn-sm btn-raised" ng-click="varAux = cssRequired; cssRequired = (!cssDesired && !cssRequired); cssDesired = (varAux && !cssDesired); addSelectedSkill('css', cssRequired, cssDesired);" 
              ng-class="{'btn-info': cssDesired, 'btn-primary': cssRequired}" href>Css</a>
          </div>
          <input type="text" name="otherSkillsReq" class="form-control" ng-model="job.otherSkillsRequired" placeholder="Other skills required (separated with ',')" required />
          <input type="text" name="otherSkillsDes" class="form-control" ng-model="job.otherSkillsDesired" placeholder="Other skills desired (separated with ',')" required />
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
          <textarea class="form-control" rows="3" id="textArea1" ng-model="job.managerNotes"></textarea>
          <span class="help-block">Manager Notes</span>
          <textarea class="form-control" rows="3" id="textArea2" ng-show="getJob('old')" ng-model="job.developerNotes"></textarea>
          <span class="help-block" ng-show="getJob('old')">Developer Notes</span>
          <textarea class="form-control" rows="3" id="textArea3" ng-show="getJob('old')" ng-model=job.applicationResult></textarea>
          <span class="help-block" ng-show="getJob('old')">Application result</span>
        </div>
      </div>
      <button class="btn btn-success btn-raised" ng-show="getJob('new')" ng-click="saveClicked()">Save</button>
      <button class="btn btn-info btn-raised" ng-show="resolved" >Resolve</button>
      <button class="btn btn-info btn-raised" ng-show="getJob('new')">Save and New</button>
      <button class="btn btn-success btn-raised" ng-show="getJob('old')">Applyed</button>
      <button class="btn btn-danger btn-raised" ng-show="getJob('old')">Rejected</button>
      <button class="btn btn-danger btn-xs pull-bottom btn-raised" ng-show="getJob('old')">Remove</button>
      <button class="btn btn-default pull-right btn-raised" ng-click="goToList()">Go Back</button>
    </form>
  </div>
</section>
<!--modal section  -->
<div id="modal-url" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Page link</h4>
      </div>
      <div class="modal-body">
        <input type="text" name="joburl" class="form-control" ng-model="job.url" required />
        <span class="help-block">Advice url</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-sm btn-primary" data-dismiss="modal" ng-click="">Save</button>
        <button type="button" class="btn btn-raised btn-sm btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="modal-method" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Application Method</h4>
      </div>
      <div class="modal-body">
        <div class="radio radio-primary">
          <label>
            <input id="method-option1" type="radio" ng-model="job.applicationMethod" value="form">
            Form
          </label>
        </div>
        <div class="radio radio-primary">
          <label>
            <input id="method-option2"  type="radio" ng-model="job.applicationMethod" ng-click="" value="email">
            Email
          </label>
        </div>
        <textarea id="emailInput" ng-disabled="method==='form'" class="form-control" rows="1" ng-model="job.applicationEmail"></textarea>
        <span class="help-block">email</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-sm btn-primary" data-dismiss="modal" ng-click="">Save</button>
        <button type="button" class="btn btn-raised btn-sm btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="modal-letter" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Cover Letter</h4>
      </div>
      <div class="modal-body">
        <textarea class="form-control" rows="7" ng-model="job.coverLetter"></textarea>
        <span class="help-block">Please Paste the letter used for presentation</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-sm btn-primary" data-dismiss="modal" ng-click="">Scrappe</button>
        <button type="button" class="btn btn-raised btn-sm btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="modal-scrapp" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Scrapp Page</h4>
      </div>
      <div class="modal-body">
        <textarea class="form-control" rows="7" ng-model="job.adviceToScrapp"></textarea>
        <span class="help-block">Please Paste the advice text to scrapp</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-sm btn-primary" data-dismiss="modal" ng-click="">Scrapp</button>
        <button type="button" class="btn btn-raised btn-sm btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
