<section>
  <table class="table">
    <label>Applied: </label>
    <select ng-model="appliedOption">
      <option value="true">Yes</option>
      <option value="false">No</option>
      <option value="">Yes/No</option>
    </select>
    <thead>
      <th>Company</th>
      <th>Position</th>
      <th>Applied?</th>
      <th></th>
    </thead>
    <tbody class="table-striped">
    <tr ng-repeat="job in jobsList | filter: appliedOption">
      <td ng-bind="job.company"></td>
      <td ng-bind="job.position"></td>
      <td ng-bind="job.apply | applied"></td>
      <td>
        <button class="btn btn-default" style="width: 100%" ng-click="showJob()">Show</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div style="position: fixed; bottom: 70px;">
    <div class="container">
      <button class="btn btn-fab btn-raised btn-material-red ripple-effect" style="float: right; margin-right: 15px;" ng-click="showJob()"><i class="mdi-content-add"></i></button>
    </div>
  </div>
</section>
