<section>

  <div id="signup-form-div" class="home-content center-block">

    <form ng-class="{'has-error': hasError}" novalidate>
      <div class="form-group">
        <input type="email" name="email" class="form-control" ng-model="user.email" ng-change="emailChanged()" placeholder="User e-mail" required />
        <!-- <span class="label label&#45;success" ng&#45;show="form.email.$invalid === false" >OK</span> -->
        <!-- <span class="label label&#45;warning" ng&#45;show="form.email.$invalid === true" >Not Valid</span> -->
        <span class="label label-success" ng-show="emailValid" >OK</span>
        <span class="label label-warning" ng-show="!emailValid" >Not Valid</span>
      </div>
      <div class="form-group">
        <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="User Name" required />
        <span class="label label-success" ng-show="form.name.$invalid === false" >OK</span>
        <span class="label label-warning" ng-show="form.name.$invalid === true" >Not Valid</span>
      </div>
      <div class="form-group">
        <label for="name">User role</label>
        <div class="radio radio-primary">
          <label>
            <input id="register-role-option1" type="radio" ng-model="role" value="developer">
            Developer
          </label>
        </div>
        <br>
        <div class="radio radio-primary">
          <label>
            <input id="register-role-option2"  type="radio" ng-model="role" value="manager">
            Manager
          </label>
        </div>
        <div class="radio radio-primary">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Option one is this
          </label>
        </div>
        <div class="radio radio-primary">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Option two can be something else
          </label>
        </div>



      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <p class="field">
        <input type="password" name="password" id="signup-password" style="padding-right: 27px;" ng-model="user.password" ng-change="passwordChange(user.password, user.cpassword)" required/>
        <span id="signup-password-ok" ng-show="form.password.$invalid === false && !passwordHasSpaces" class="icon ok"></span>
        <span id="signup-password-error"  ng-show="form.password.$invalid === true || passwordHasSpaces" class="icon error"></span>
        <span id="signup-password-advice" class="message">{{ passwordAdvice }}</span>
        </p>
      </div>
      <div class="form-group">
        <label for="re-password">Retype password</label>
        <p class="field">
        <input type="password" name="re-password" id="signup-re-password" style="padding-right: 27px;" ng-model="user.cpassword" ng-change="retypePasswordChanged(user.password, user.cpassword)" required/>
        <span id="signup-re-password-ok" ng-show="passwordMatches(user.password, user.cpassword) === true && !form.re-password.$invalid" class="icon ok"></span>
        <span id="signup-re-password-error" ng-show="passwordMatches(user.password, user.cpassword) === false || form.re-password.$invalid" class="icon error"></span>
        <span class="message">{{ retypePasswordAdvice }}</span>
        </p>
      </div>
      <div class="form-group">
        <p id="signup-credentials-error" class="form-error">{{ errorText }}</p>
      </div>
      <div class="form-row submit-btn" ng-init="termsAccepted = false">
        <button id="signup-submit-form" class="btn" ng-disabled="form.$invalid || !passwordMatches(user.password, user.cpassword) || passwordHasSpaces" ng-click="signUpButtonClicked(user.email, user.name, user.password, user.cpassword)">
          Sing up
        </button>
      </div>
      <div class="form-row already-have">
        <a id="signup-already-have-account" style="text-decoration:none; color: #77787B" href="" ng-click="backToLoginPage()">
          {{ translate('wa_already_have_account') }}
        </a>
      </div>
    </form>
    <div class="alert alert-dismissible alert-info" ng-show="showLoading">
      <img src="images/update.gif" alt="" />
      <h5 class="loading">Please wait</h5>
    </div>
  </div>
  <div class="slider-box">
  </div>
</section>
