[Unit]
Description= Jobify Client
Requires=jobify-server.service
After=jobify-server.service

[Service]
ExecStartPre=-/usr/bin/docker stop client
ExecStartPre=-/usr/bin/docker rm client
ExecStartPre=-/usr/bin/docker build -t alenet8879/jobify-client
ExecStart=/usr/bin/docker run -p 9000:80 --name client --link server:server alenet8879/jobify-client /usr/sbin/apache2ctl -D FOREGROUND
ExecStop=-/usr/bin/docker stop client
ExecStopPost=-/usr/bin/docker rm client
