[Unit]
Description= Jobify server
Requires=jobify-mongo.service
After=jobify-mongo.service

[Service]
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker stop jobify-server
ExecStartPre=-/usr/bin/docker rm jobify-server
ExecStart=/usr/bin/docker run --rm --name jobify-server -e VIRTUAL_HOST=api.jobifyweb.com -e VIRTUAL_PORT=3000 --link jobify-mongodb:jobify jobify-server
ExecStop=-/usr/bin/docker stop jobify-server
ExecStopPost=-/usr/bin/docker rm jobify-server
