[Unit]
Description= Jobify mongo
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop mongodb
ExecStartPre=-/usr/bin/docker rm mongodb
ExecStart=/usr/bin/docker run --name mongodb mongo
ExecStop=/usr/bin/docker stop mongodb
ExecStopPost=/usr/bin/docker rm mongodb
